amqp                          5.3.1       Low-level AMQP client for Python ...
asgiref                       3.8.1       ASGI specs, helper code, and adap...
attrs                         24.2.0      Classes Without Boilerplate
billiard                      4.2.1       Python multiprocessing fork with ...
celery                        5.4.0       Distributed Task Queue.
click                         8.1.7       Composable command line interface...
click-didyoumean              0.3.1       Enables git-like *did-you-mean* f...
click-plugins                 1.1.1       An extension module for click to ...
click-repl                    0.3.0       REPL plugin for Click
django                        5.1.1       A high-level Python web framework...
django-extensions             3.2.3       Extensions for Django
django-filter                 24.3        Django-filter is a reusable Djang...
django-js-asset               2.2.0       script tag with additional attrib...
django-modeltranslation       0.19.11     Translates Django models using a ...
django-mptt                   0.16.0      Utilities for implementing Modifi...
django-tinymce                4.1.0       A Django application that contain...
djangorestframework           3.15.2      Web APIs for Django, made easy.
djangorestframework-simplejwt 5.3.1       A minimal JSON Web Token authenti...
drf-spectacular               0.27.2      Sane and flexible OpenAPI 3 schem...
inflection                    0.5.1       A port of Ruby on Rails inflector...
jsonschema                    4.23.0      An implementation of JSON Schema ...
jsonschema-specifications     2023.12.1   The JSON Schema meta-schemas and ...
kombu                         5.4.2       Messaging library for Python.
prompt-toolkit                3.0.48      Library for building powerful int...
psycopg2-binary               2.9.9       psycopg2 - Python-PostgreSQL Data...
pyjwt                         2.9.0       JSON Web Token implementation in ...
python-dateutil               2.9.0.post0 Extensions to the standard Python...
python-dotenv                 1.0.1       Read key-value pairs from a .env ...
pyyaml                        6.0.2       YAML parser and emitter for Python
redis                         5.2.0       Python client for Redis database ...
referencing                   0.35.1      JSON Referencing + Python
rpds-py                       0.20.0      Python bindings to Rust's persist...
six                           1.16.0      Python 2 and 3 compatibility util...
sqlparse                      0.5.1       A non-validating SQL parser.
tzdata                        2024.2      Provider of IANA time zone data
uritemplate                   4.1.1       Implementation of RFC 6570 URI Te...
vine                          5.1.0       Python promises.
wcwidth                       0.2.13      Measures the displayed width of u...
